.solutions {
    margin: 0 auto;
    background-color: var(--primery-bg-color);
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-mobile.1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 118px 0px;
    
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 230px),
        screen and (min-resolution: 192dpi) and (min-width: 230px),
        screen and (min-resolution: 2dppx) and (min-width: 230px) {
            background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero/hero-mobile.2x.jpg);
    }
    @media screen and (min-width: 768px) {
        max-width: 1199px;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero/hero-tablet.1x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
            background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero/hero-tablet.2x.jpg);
    }
    
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero/hero-desktop.1x.jpg);
        padding: 200px 0;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
            background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero/hero-desktop.2x.jpg);
    }
}
.solutions__title {
    margin-bottom: 30px;
    @include font(26px, 900, 1.61);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    @media screen and (max-width: 479px) {
        font-size: 5vw;
    }
    @media screen and (min-width: 1200px) {
        @include font(44px, 900, 1.36);
    }

}
.solutions-button {
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    @include font(14px, bold, 1.87);
    @include display($dp: block);
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    color: var(--bg-color);
    background: var(--accent-color);
    transition: background-color 250ms var(--timing-function);
        &:hover, 
        &:focus {
        background-color: var(--bt-bg-color);   
       }
}

