@media screen and (max-width: 767px) {
    .header-navigation{
        display: none;
    }
    .header-contact{
        display: none;
    }
}
.menu-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    .burger-btn__icon {
        transition: fill 250ms var(--timing-function);
        }
    &:hover .menu-toggle__icon,
    &:focus .menu-toggle__icon{
        fill: var(--accent-color);
        }
}
.menu-container {
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 767px;
    height: 100vh;
    background-color: var(--bg-color);
    padding: 48px 40px;
    visibility: hidden;
    transform: translateY(-100%) translateX(-50%);
    transition: transform 250ms var(--timing-function);
}
.is-open {
    transform: translateY(0%) translateX(-50%);
    visibility: visible;
}
.menu-toggle {
    position: absolute;
    top:10px;
    right: 15px;
    background-color: transparent;
    border:none;
    &:hover .menu-toggle__icon,
    &:focus .menu-toggle__icon{
    fill: var(--accent-color);
    }
}
.mobile-menu__item {
    &:not(:last-child) {
    margin-bottom: 34px;
    }
}
.mobile-menu__link {
    @include font(40px, 500, 1.17);
    letter-spacing: 0.02em;
    color: var(--second-title-color); 
    transition: color 250ms var(--timing-function);
    &:hover ,
    &:focus {
    color: var(--accent-color);  
    }
}
.mobile-menu-contact {
    margin-bottom: 64px;
}
.mobile-menu-contact__item {
    &:not(:last-child) {
        margin-bottom: 32px;
        }
}
.mobile-menu-contact__tel {
    letter-spacing: 0.02em;
    @include font(34px, 500, 1.17);
    color: var(--accent-color);
    @media screen and (max-width: 479px) {
        font-size: 8vw;
    }
}
.mobile-menu-contact__mail {
    letter-spacing: 0.02em;
    @include font(24px, 500, 1.17);
    color: var(--main-text-color);
}
.mobile-menu-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.mobile-menu-social__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
    &:not(:last-child)::after {
        content: "";
        height: 22px;
        border-left: 1px solid rgba(33, 33, 33, 0.2);
        margin-left: 10px;
    }    
}
.mobile-menu-social__link {
    @include font(18px, 500, 1.22);
    color: var(--accent-color);
}
@media screen and (min-width: 768px) {
    .menu-toggle{
        display: none;
    }
    .menu-container{
        display:none
    }
}
.mobile-menu__link.current {
    transition: color 250ms var(--timing-function);
    color: var(--accent-color);
}