.header-logo, .footer-logo {
    font-family: 'Raleway', sans-serif;
    @include font(24px, bold, 1.17);
    color:var(--accent-color);
    @media screen and (min-width: 1200px) {
        font-size: 28px;
    }

}

.header-logo-span {
    color: var(--second-title-color);
}
.header-logo {
    padding: 24px 0 24px 0;
    animation-duration: 250ms;
    @media screen and (min-width: 768px) {
        margin-right: 88px; 
    }
    @media screen and (min-width: 1200px) {
        margin-right: 93px;    
    }    
}
.footer-logo-span {
    color: var(--third-text-color);
}
