.header-logo-span {
    color: var(--second-title-color);
}
.header-logo {
    margin-right: 93px;
    padding: 24px 0 25px 0;
    animation-duration: 250ms;
}
.footer-logo-span {
    color: var(--third-text-color);
}
